*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    height: auto;
}

h1{
    text-align: center;
    font-weight: 600;
    color: rgb(30, 161, 221);
    margin: 10px;
}

.board{
    display: flex;
    /* justify-content: space-between; */
    margin: 10px 20px;
}

.addList{
    height: 30px;
    margin: 10px;
}

.addList Input{
    width:150px;
    margin: 5px;
    height: 25px;
}

.list-area{
    display: flex;
    margin: 20px;
    overflow-x: auto;
    /* height: 100vh; */
}

.lists{
    margin:0 20px;
    padding:5px;
}

.listTitle{
    display: flex;
    justify-content:space-between;
    
}

.list{
    background-color: aqua;
    width: 200px;
}
